:root {
  
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);
}

body {
  margin: 0;
}
h1,
h2,
h3,
h4
{
  margin: 0;
}
